<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Search</title>

  <link rel="stylesheet" href="/static/css/theme.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
  <button id="themeToggle">🌓</button>

  <div class="container">
    <div class="logo">
      <span>G</span><span>o</span><span>o</span><span>g</span><span>l</span><span>e</span>
    </div>

    <div class="search-wrapper">
      <input id="q" class="search-box"
        placeholder="Search Google or type a keyword" autocomplete="off" />
      <div class="search-icon" id="searchBtn">🔍</div>
    </div>
  </div>

  <script src="/static/js/theme.js"></script>
  <script src="/static/js/search.js"></script>
</body>
</html>
